.dui_m_e_t_orig {
    background: #f00 url(../images/Messages/Errors/ErrorTiny/error-tiny-icon.png) no-repeat 5px center;
    color: #fff;
    padding: 5px 5px 5px 22px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

td.dui_m_e_t_orig {
    display: table-cell;
}