
.dui_bg_orig .dui_control_button_plain {
    white-space: normal;
}

.dui_bg_orig {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.dui_bg_orig li {
    margin: 0;
    padding: 0 0 3px 0;
}

.dui_b_l.dui_control_button_danger {
    background-image: url(../images/Controls/Buttons/Danger/left.png);
}

.dui_b_r.dui_control_button_danger {
    background-image: url(../images/Controls/Buttons/Danger/right.png);
}


.dui_b_m.dui_control_button_danger {
    background-image: url(../images/Controls/Buttons/Danger/middle.png);
}


.dui_b_m.dui_control_button_danger > .dui_b_orig {
    /*color: #fff;*/
}

.dui_hover.dui_control_button_danger > * > * > .dui_b_orig {
    color: #fff;
}

.dui_b_l.dui_control_button_notice_me {
    background-image: url(../images/Controls/Buttons/NoticeMe/left.png);
}

.dui_b_r.dui_control_button_notice_me {
    background-image: url(../images/Controls/Buttons/NoticeMe/right.png);
}


.dui_b_m.dui_control_button_notice_me {
    background-image: url(../images/Controls/Buttons/NoticeMe/middle.png);
}

.dui_b_m.dui_control_button_notice_me > .dui_b_orig {
    color: #fff;
}




.dui_b_l.dui_control_button_go_back {
    background-image: url(../images/Controls/Buttons/GoBack/left.png);
    padding-left: 29px;
}

.dui_b_r.dui_control_button_go_back {
    background-image: url(../images/Controls/Buttons/GoBack/right.png);
}


.dui_b_m.dui_control_button_go_back {
    background-image: url(../images/Controls/Buttons/GoBack/middle.png);
}



.dui_b_m,
.dui_b_l,
.dui_b_r {
    display: inline-block;
    display: block;

    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    cursor: pointer;
}

/* IE FIX for inline-block */
.dui_b_m,
.dui_b_l,
.dui_b_r {
    display: inline-block;
}

.dui_b_orig,
.dui_b_m,
.dui_b_l,
.dui_b_r {
    outline: 0;
}

.dui_b_l {
    background: url(../images/Controls/Buttons/Plain/left.png) no-repeat top left;
    padding-left: 4px;
}

.dui_b_r {
    background: url(../images/Controls/Buttons/Plain/right.png) no-repeat top right;
    padding-right: 4px;
}


.dui_b_m {
    background: url(../images/Controls/Buttons/Plain/middle.png) repeat-x;
    padding: 0 5px;
}

.dui_hover > .dui_b_r > .dui_b_m {
    background-position: bottom;
}

.dui_b_l.dui_hover {
    background-position: bottom left;
}

.dui_hover > .dui_b_r {
    background-position: bottom right;
}

.dui_b_m > .dui_b_orig {
    text-decoration: none!important;
    font-weight: bold!important;
    text-transform: uppercase;
    color: #808080;
    outline: 0!important;
    border: 0!important;
    background: 0!important;
    cursor: pointer;
}

.dui_b_m > .dui_b_orig:focus {
    outline: 0!important;
}

/*.dui_b_m > .dui_b_orig:active {
    border: 0;
}*/

.dui_hover > * > * > .dui_b_orig {
    color: #000;
    color: rgba(0, 0, 0, 0.7);
}

.dui_m_e_t_orig {
    background: #f00 url(../images/Messages/Errors/ErrorTiny/error-tiny-icon.png) no-repeat 5px center;
    color: #fff;
    padding: 5px 5px 5px 22px;
    font-weight: bold;
    display: inline-block;
    line-height: normal;
    border-radius: 3px;
}

td.dui_m_e_t_orig {
    display: table-cell;
}

.dui_m_s_orig * {
    color: #fff;
}

.dui_m_e_orig {
    background: #f00 url(../images/Messages/Errors/Error/error-icon.png) no-repeat 10px center;
    color: #fff;
    padding: 10px 10px 10px 42px;
    text-transform: uppercase;
    font-weight: bold;
}

.dui_m_s_orig * {
    color: #fff!important;
}

.dui_m_s_t_orig {
    background: #0a0 url(../images/Messages/Successes/SuccessTiny/success-tiny-icon.png) no-repeat 5px center;
    color: #fff;
    font-size: 90%;
    padding: 5px 5px 5px 22px;
    line-height: normal;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
}

td.dui_m_s_t_orig {
    display: table-cell;
}

.dui_m_s_orig * {
    color: #fff;
}

.dui_m_s_orig {
    background: #0a0 url(../images/Messages/Successes/Success/success-icon.png) no-repeat 10px center;
    color: #fff;
    padding: 10px 10px 10px 42px;
    text-transform: uppercase;
    font-weight: bold;
}

.dui_m_s_orig * {
    color: #fff!important;
}


.dui_l_orig.dui_segment_list {
    list-style: none;
    background: none;
    border-top: 1px solid #f1f1f1;
    margin: 10px 0;
    padding-left: 0;
}

.dui_l_orig.dui_segment_list > li {
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}




.dui_l_orig.dui_file_list {
    list-style: none;
    background: none;
    border: 0;
    margin: 10px 0;
    padding-left: 0;
}

.dui_l_orig.dui_file_list > li {
    padding: 4px 0;
    border: 0;
    line-height: 16px;
    display: inline;
}

.dui_l_orig.dui_file_list a {
    display: inline;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 16px;
    font-size: 80%;
    white-space: nowrap;
    background-image: url(../images/Lists/FileList/icons/unknown.png);
}

.dui_l_orig.dui_file_list .dui_file_list_item_directory { background-image: url(../images/Lists/FileList/icons/directory.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_7z { background-image: url(../images/Lists/FileList/icons/7z.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_aiff { background-image: url(../images/Lists/FileList/icons/aiff.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ai { background-image: url(../images/Lists/FileList/icons/ai.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_asc { background-image: url(../images/Lists/FileList/icons/asc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_audio { background-image: url(../images/Lists/FileList/icons/audio.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_bin { background-image: url(../images/Lists/FileList/icons/bin.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_bz2 { background-image: url(../images/Lists/FileList/icons/bz2.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_cfc { background-image: url(../images/Lists/FileList/icons/cfc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_cfm { background-image: url(../images/Lists/FileList/icons/cfm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_chm { background-image: url(../images/Lists/FileList/icons/chm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_class { background-image: url(../images/Lists/FileList/icons/class.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_conf { background-image: url(../images/Lists/FileList/icons/conf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_c { background-image: url(../images/Lists/FileList/icons/c.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_cpp { background-image: url(../images/Lists/FileList/icons/cpp.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_cs { background-image: url(../images/Lists/FileList/icons/cs.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_css { background-image: url(../images/Lists/FileList/icons/css.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_csv { background-image: url(../images/Lists/FileList/icons/csv.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_deb { background-image: url(../images/Lists/FileList/icons/deb.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_divx { background-image: url(../images/Lists/FileList/icons/divx.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_doc { background-image: url(../images/Lists/FileList/icons/doc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_dot { background-image: url(../images/Lists/FileList/icons/dot.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_eml { background-image: url(../images/Lists/FileList/icons/eml.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_enc { background-image: url(../images/Lists/FileList/icons/enc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_eps { background-image: url(../images/Lists/FileList/icons/eps.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_file { background-image: url(../images/Lists/FileList/icons/file.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_gif { background-image: url(../images/Lists/FileList/icons/gif.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_gz { background-image: url(../images/Lists/FileList/icons/gz.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_hlp { background-image: url(../images/Lists/FileList/icons/hlp.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_html { background-image: url(../images/Lists/FileList/icons/html.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_htm { background-image: url(../images/Lists/FileList/icons/htm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_image { background-image: url(../images/Lists/FileList/icons/image.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_iso { background-image: url(../images/Lists/FileList/icons/iso.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_jar { background-image: url(../images/Lists/FileList/icons/jar.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_java { background-image: url(../images/Lists/FileList/icons/java.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_jpeg { background-image: url(../images/Lists/FileList/icons/jpeg.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_jpg { background-image: url(../images/Lists/FileList/icons/jpg.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_js { background-image: url(../images/Lists/FileList/icons/js.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_lua { background-image: url(../images/Lists/FileList/icons/lua.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_mm { background-image: url(../images/Lists/FileList/icons/mm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_mov { background-image: url(../images/Lists/FileList/icons/mov.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_mp3 { background-image: url(../images/Lists/FileList/icons/mp3.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_mpg { background-image: url(../images/Lists/FileList/icons/mpg.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_m { background-image: url(../images/Lists/FileList/icons/m.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odc { background-image: url(../images/Lists/FileList/icons/odc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odf { background-image: url(../images/Lists/FileList/icons/odf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odg { background-image: url(../images/Lists/FileList/icons/odg.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odi { background-image: url(../images/Lists/FileList/icons/odi.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odp { background-image: url(../images/Lists/FileList/icons/odp.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ods { background-image: url(../images/Lists/FileList/icons/ods.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_odt { background-image: url(../images/Lists/FileList/icons/odt.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ogg { background-image: url(../images/Lists/FileList/icons/ogg.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_pdf { background-image: url(../images/Lists/FileList/icons/pdf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_pgp { background-image: url(../images/Lists/FileList/icons/pgp.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_php { background-image: url(../images/Lists/FileList/icons/php.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_pl { background-image: url(../images/Lists/FileList/icons/pl.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_png { background-image: url(../images/Lists/FileList/icons/png.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ppt { background-image: url(../images/Lists/FileList/icons/ppt.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ps { background-image: url(../images/Lists/FileList/icons/ps.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_py { background-image: url(../images/Lists/FileList/icons/py.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_ram { background-image: url(../images/Lists/FileList/icons/ram.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_rar { background-image: url(../images/Lists/FileList/icons/rar.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_rb { background-image: url(../images/Lists/FileList/icons/rb.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_rm { background-image: url(../images/Lists/FileList/icons/rm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_rpm { background-image: url(../images/Lists/FileList/icons/rpm.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_rtf { background-image: url(../images/Lists/FileList/icons/rtf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sig { background-image: url(../images/Lists/FileList/icons/sig.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sql { background-image: url(../images/Lists/FileList/icons/sql.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_swf { background-image: url(../images/Lists/FileList/icons/swf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sxc { background-image: url(../images/Lists/FileList/icons/sxc.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sxd { background-image: url(../images/Lists/FileList/icons/sxd.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sxi { background-image: url(../images/Lists/FileList/icons/sxi.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_sxw { background-image: url(../images/Lists/FileList/icons/sxw.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_tar { background-image: url(../images/Lists/FileList/icons/tar.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_tex { background-image: url(../images/Lists/FileList/icons/tex.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_tgz { background-image: url(../images/Lists/FileList/icons/tgz.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_txt { background-image: url(../images/Lists/FileList/icons/txt.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_vcf { background-image: url(../images/Lists/FileList/icons/vcf.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_video { background-image: url(../images/Lists/FileList/icons/video.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_vsd { background-image: url(../images/Lists/FileList/icons/vsd.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_wav { background-image: url(../images/Lists/FileList/icons/wav.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_wma { background-image: url(../images/Lists/FileList/icons/wma.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_wmv { background-image: url(../images/Lists/FileList/icons/wmv.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_xls { background-image: url(../images/Lists/FileList/icons/xls.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_xml { background-image: url(../images/Lists/FileList/icons/xml.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_xpi { background-image: url(../images/Lists/FileList/icons/xpi.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_xvid { background-image: url(../images/Lists/FileList/icons/xvid.png); }
.dui_l_orig.dui_file_list .dui_file_list_item_zip { background-image: url(../images/Lists/FileList/icons/zip.png); }




.dui_l_orig {
    list-style: none;
    background: #fcfcfc;
    border-top: 1px solid #f1f1f1;
    margin-left: 0;
    padding-left: 0;
}

.dui_l_orig > li {
    padding: 3px 10px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    font-size: 110%;
}






.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    display: inline-block;
    display: block;
    white-space: nowrap;
}

/* IE FIX for inline-block */
.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    display: inline-block;
}

.dui_i_t_l { display: block; }

.dui_i_t_orig,
.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    outline: 0;
}

.dui_i_t_l {
    background: url(../images/Forms/Inputs/TextInput/Plain/left.png) no-repeat top left;
    padding-left: 4px;
}

.dui_i_t_r {
    background: url(../images/Forms/Inputs/TextInput/Plain/right.png) no-repeat top right;
    padding-right: 4px;
}


.dui_i_t_m {
    background: url(../images/Forms/Inputs/TextInput/Plain/middle.png) repeat-x;
    padding: 0 5px;
}

.dui_focus > .dui_i_t_r > .dui_i_t_m {
    background-position: bottom;
}

.dui_i_t_l.dui_focus {
    background-position: bottom left;
}

.dui_focus > .dui_i_t_r {
    background-position: bottom right;
}

.dui_i_t_m > .dui_i_t_orig {
    text-decoration: none!important;
    font-weight: bold!important;
    color: #808080;
    outline: 0!important;
    border: 0!important;
    background: 0!important;
    height: 35px!important;
    line-height: 35px!important;
    padding: 0;
}

.dui_i_t_m > .dui_i_t_orig:focus {
    outline: 0!important;
}

.dui_focus > * > * > .dui_i_t_orig {
    color: #000;
    color: rgba(0, 0, 0, 0.7);
}





.dui_form_orig {
    background: #fafafa;
}

.dui_f_l_orig {
    display: inline-block;
    width: auto;
}



.dui_i_ta_m,
.dui_i_ta_tl,
.dui_i_ta_l,
.dui_i_ta_bl,
.dui_i_ta_b,
.dui_i_ta_br,
.dui_i_ta_r,
.dui_i_ta_tr,
.dui_i_ta_t {
    display: inline-block;
    display: block;
}

/* IE FIX */
.dui_i_ta_m,
.dui_i_ta_tl,
.dui_i_ta_l,
.dui_i_ta_bl,
.dui_i_ta_b,
.dui_i_ta_br,
.dui_i_ta_r,
.dui_i_ta_tr,
.dui_i_ta_t {
    display: inline-block;
}

.dui_i_ta_m {
    padding: 10px 0 4px 4px;
}

.dui_i_ta_tl {
    background: url(../images/Forms/TextAreas/Plain/tl.png) no-repeat top left;
    margin: -10px 0 0 -4px;
    padding: 10px 0 0 4px;
}

.dui_i_ta_bl {
    background: url(../images/Forms/TextAreas/Plain/bl.png) no-repeat bottom left;
    margin: 0 0 -4px -4px;
    padding: 0 0 4px 4px;
}

.dui_i_ta_br {
    background: url(../images/Forms/TextAreas/Plain/br.png) no-repeat bottom right;
    margin: 0 -4px -4px 0;
    padding: 0 4px 4px 0;
}

.dui_i_ta_tr {
    background: url(../images/Forms/TextAreas/Plain/tr.png) no-repeat top right;
    padding: 10px 4px 0 0;
    margin: -10px -4px 0 0;
}

.dui_i_ta_l {
    background: url(../images/Forms/TextAreas/Plain/l.png) repeat-y left;
    margin-left: -4px;
    padding-left: 4px;
}

.dui_i_ta_b {
    background: url(../images/Forms/TextAreas/Plain/b.png) repeat-x bottom;
    padding-bottom: 4px;
    margin-bottom: -4px;
}

.dui_i_ta_r {
    background: url(../images/Forms/TextAreas/Plain/r.png) repeat-y right;
    padding-right: 4px;
    margin-right: -4px;
}

.dui_i_ta_t {
    background: url(../images/Forms/TextAreas/Plain/t.png) repeat-x top;
    padding-top: 10px;
    margin-top: -10px;
}

.dui_i_ta_orig {
    background: url(../images/Forms/TextAreas/Plain/c.png) repeat;
    margin: 0!important;
    border: 0 !important;
    outline: 0!important;
    padding: 5px 5px!important;
}


.dui_focus > .dui_i_ta_tl {
    background-image: url(../images/Forms/TextAreas/Plain/tl-focus.png);
}

.dui_focus > * > .dui_i_ta_bl {
    background-image: url(../images/Forms/TextAreas/Plain/bl-focus.png);
}

.dui_focus > * > * > .dui_i_ta_br {
    background-image: url(../images/Forms/TextAreas/Plain/br-focus.png);
}

.dui_focus > * > * > * > .dui_i_ta_tr {
    background-image: url(../images/Forms/TextAreas/Plain/tr-focus.png);
}

.dui_focus > * > * > * > * > .dui_i_ta_l {
    background-image: url(../images/Forms/TextAreas/Plain/l-focus.png);
}

.dui_focus > * > * > * > * > * > .dui_i_ta_b {
    background-image: url(../images/Forms/TextAreas/Plain/b-focus.png);
}

.dui_focus > * > * > * > * > * > * > .dui_i_ta_r {
    background-image: url(../images/Forms/TextAreas/Plain/r-focus.png);
}

.dui_focus > * > * > * > * > * > * > * > .dui_i_ta_t {
    background-image: url(../images/Forms/TextAreas/Plain/t-focus.png);
}

.dui_focus > * > * > * > * > * > * > * > * > .dui_i_ta_orig {
    background-image: url(../images/Forms/TextAreas/Plain/c-focus.png);
}


.dui_table_orig {
    list-style: none;
    background: #fdfdfd;
    border-top: 1px solid #f1f1f1;
    border-collapse: collapse;
    margin: 10px 0;
}

.dui_table_orig td,
.dui_table_orig th {
    padding: 7px 10px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    font-size: 110%;
}

.dui_table_orig th {
    background: #fff;
    font-weight: normal;
    color: #888;
    text-transform: uppercase;
    font-size: 90%;
    text-align: left;
}

.dui_table_orig .dui_alt td {
    background: #f9f9f9;
}



.dui_text_quot {
    background: url(../images/Text/Quotation/right.png) no-repeat bottom right;
    display: inline-block;
    display: block;
}
.dui_text_quot {
    display: inline-block;
}

.dui_text_r_quot {
    background: url(../images/Text/Quotation/left.png) no-repeat top left;
    padding: 12px;
    display: inline-block;
    display: block;
    color: #444;
}
.dui_text_r_quot {
    display: inline-block;
}


.dui_text_date {
    background: url(../images/Text/Date/calendar-icon.png) no-repeat 2px center;
    font-size: 80%;
    color: #666;
    padding-left: 17px;
    line-height: 13px;
}

.dui_text_quiet_i {
    font-size: 80%;
    color: #ccc;
}

/*

I found needing these styles to cancel out the CSS that was already
applied to my elements.

TODO: add a way to exclude individual CSS files in deliron-ui--0.001.css.pl

*/

.dui_b_orig[type="submit"] {
    background: none!important;
}

.dui_f_l_orig {
    float: none;
    text-align: left;
}


.dui_form_orig li {
    border: 0;
}


.dui_bg_orig li {
    line-height: normal;
}

.dui_segment_list h3,
.dui_segment_list h4 {
    padding-top: 0;
    margin-top: 0;
}


