.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    display: inline-block;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}

/* IE FIX for inline-block */
.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    display: inline-block;
}

.dui_i_t_l { display: block; }

.dui_i_t_orig,
.dui_i_t_m,
.dui_i_t_l,
.dui_i_t_r {
    outline: 0;
}

.dui_i_t_l {
    background: url(../images/Forms/Inputs/TextInput/Plain/left.png) no-repeat top left;
    padding-left: 4px;
}

.dui_i_t_r {
    background: url(../images/Forms/Inputs/TextInput/Plain/right.png) no-repeat top right;
    padding-right: 4px;
}


.dui_i_t_m {
    background: url(../images/Forms/Inputs/TextInput/Plain/middle.png) repeat-x;
    padding: 0 5px;
}

.dui_focus > .dui_i_t_r > .dui_i_t_m {
    background-position: bottom;
}

.dui_i_t_l.dui_focus {
    background-position: bottom left;
}

.dui_focus > .dui_i_t_r {
    background-position: bottom right;
}

.dui_i_t_m > .dui_i_t_orig {
    text-decoration: none!important;
    font-weight: bold!important;
    color: #808080;
    outline: 0!important;
    border: 0!important;
    background: 0!important;
    height: 35px!important;
    line-height: 35px!important;
    padding: 0;
}

.dui_i_t_m > .dui_i_t_orig:focus {
    outline: 0!important;
}

.dui_focus > * > * > .dui_i_t_orig {
    color: #000;
    color: rgba(0, 0, 0, 0.7);
}