/*

I found needing these styles to cancel out the CSS that was already
applied to my elements.

TODO: add a way to exclude individual CSS files in deliron-ui--0.001.css.pl

*/

.dui_b_orig[type="submit"] {
    background: none!important;
}

.dui_f_l_orig {
    float: none;
    text-align: left;
}


.dui_form_orig li {
    border: 0;
}


.dui_bg_orig li {
    line-height: normal;
}

.dui_segment_list h3,
.dui_segment_list h4 {
    padding-top: 0;
    margin-top: 0;
}